*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f1efef;
}

#img {
    width: 120;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*
header {
    background: rgba(26,26,26,.65);
    padding: 2px 15px;
    font-size: 18px;
    color: white;
    text-align: right;
    margin-left: 200px;
}*/

#email {
    color: white;
}

nav {
    background: url('/assets/img6.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;

    text-align: center;
    width: 250px;
    background-color: #5f5f5f;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 22px;
    display: block;
    padding: 15px 12px 10px 0px;
}

nav a:hover {
    color:  #333;
    background-color: white;
}

#delete{
    color: black;
    text-align: center;
    padding-left: 145px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

}

/*.bg-img {
    background: url('/assets/img1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/

h1 {
    color: black;
    padding-top: 50px;
    padding-left: 300px;
    text-align: left;
}

.conteudo p {
    padding-left: 300px;
    text-align: left;
}

form {
    /* Apenas para centralizar o form na página */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 43%;
    margin-top: 10px;
    width: 450px;
    height: 385px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    /*border: 1px solid #CCC;
    border-radius: 1em;*/
    padding-left: 20px;
}

.field {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(194, 187, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

label{
    font-size: 20px;
}

button {
    background-color: #828083;
    border: 1px solid rgb(2, 2, 2);
    color: #f3f2f2;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 130px;
    font-size: 16px;
    width: 200px;
}

button:hover{
    background-color: rgb(2, 2, 2);
}

hr{
    border: 1px solid #CCC;
}

footer {
    text-align: right;
    position: relative;
    top: 310;
    color: rgb(20, 22, 24);
    font-size: small;
}